body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

.header {
    text-align: center;
    color: #292929;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.instructions {
    text-align: center;
    margin-bottom: 20px;
}

.upload-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

/* 기본 박스 스타일 */
.upload-box {
    background-color: #EBEBEB;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    transition: height 0.3s ease; /* 높이 변경 시 애니메이션 */
}

/* 동영상의 높이에 맞춰 배경 박스를 동적으로 조정 */
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.upload-box span {
    font-size: 18px;
    color: #292929;
    align-self: flex-start;
    font-weight: 600;
}

#file-name {
    font-weight: 100;
    margin-right: 20px;
    padding-top: 10px;
}

.edit-btn, .submit-btn, .clear-btn {
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.edit-btn {
    background-color: #ff9933;
    color: white;
    border: none;
}

.submit-btn {
    background-color: #ff9933;
    color: white;
    border: none;
    margin-left: 10px;
}

.clear-btn {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    color: #292929;
    margin-right: 10px;
}

#video-preview {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
}

#output-area {
    margin-top: 10px;
    border: 1px solid #ccc;
    width: 95%;
    height: 380px;
    overflow-y: auto;
    padding: 10px;
    text-align: center;
    color: #999;
}

.footer-text {
    margin-top: 10px;
    color: #666;
    text-align: center;
    padding-top: 20px;
}